@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'modal/modal';

html, body {
  height: 100%;
}

body {
  background: #fafafb;
}

.wrapper {
  min-height: 100%;
}

.application {
  padding: 50px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;

  h3 {
    font-size: 30px;
    color: #4d4d4d;
  }

  .btn {
    border-radius: 50px;
    padding: 5px 35px;
    background: #fff;
  }
}

.account {
  padding: 30px 0;
  border-top: 1px solid #e1e1e1;
  color: #909091;

  &-left,
  &-right {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 -1px 3px #eaeaeb;
    min-height: 150px;
    margin-bottom: 20px;
  }

  &-name {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &-date,
  &-email {
    font-size: 14px;
  }

  &-info {
    text-align: right;
  }
}
