mixin scripts(page)
    script(src='../assets/js/jquery.js')
    script(src='../assets/js/underscore.js')
    script(src='../assets/js/backbone.js')
    script(src='../assets/js/backbone.marionette.js')
    script(src='../assets/js/bootstrap.js')

    script(src='../assets/js/app.js')
