.modal {
  display: block;
  background: #fff;

  &-header {
    position: relative;
    text-align: center;

    .btn-outer {
      position: absolute;
      right: 0;
      top: 10px;

      .btn {
        border: none;
        outline: none;
        background: none;
        position: relative;

        &:not(:first-child) {
          padding-right: 20px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            background: #eee;
            display: block;
          }
        }

        &:hover {

        }
      }
    }
  }

  &-body {
    height: calc(100vh - 50px);
    overflow-y: auto;
    display: flex;
    align-items: center;
  }

  &-form {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;

    p {
      font-size: 26px;
      color: #636363;
      margin-bottom: 20px;
    }
  }
}

.settings {
  .form-group {
    position: relative;

    &.birthday {
      label {
        transform: translateY(-20px);
      }
    }

    .form-control {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #e1e1e1;
      border-radius: 0;
      padding: 6px 0;

      &:focus {
        border-color: #26abec;

        &+label {
          font-size: 11px;
          transform: translateY(-20px);
        }
      }

      &.active {
        &+label {
          font-size: 11px;
          transform: translateY(-20px);
        }
      }
    }

    label {
      position: absolute;
      top: 0;
      line-height: 34px;
      left: 0;
      transition: 0.2s ease-out;
    }

    textarea {
      resize: vertical;
      line-height: 1;
    }
  }

  .radio-inline {
    padding: 0;
    margin: 5px 0;

    input {
      display: none;

      &:checked {
        &+span {
          &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 2px;
            margin: auto 0;
            left: 5px;
            width: 10px;
            height:6px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotate(-45deg);
          }

          &:before {
            border-color: #26abec;
            background: #26abec;
          }
        }
      }
    }

    span {
      padding-left: 30px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        margin: auto 0;
        left: 0;
        border-radius: 50%;
        border: 1px solid #333;
      }
    }
  }
}

@media (max-width: 991px) {
  .modal-body {
    display: block;
  }
}
