include partitial/mixins

doctype html
html
    include partitial/head
    body
        .wrapper
            .container
                div#app.application


        script#settings-view(type="text/html")
            .row
                .col-md-10.col-md-offset-1
                    .title
                        h3 Application Form
                        button.btn Edit

            .row
                .col-md-10.col-md-offset-1
                    .account
                        .row
                            .col-md-4
                                .account-left
                                    .account-name John Doe
                                    .account-date 15 april 1983
                                    .account-email johndoe@gmail.com
                            .col-md-8
                                .account-right
                                    .row
                                        .col-md-4
                                            .account-info
                                                .account-site www.example.com
                                                .account-phone +77 88338792
                                                .account-skill 1256
                                                .account-gender male
                                        .col-md-8
                                            .account-about lorem lorem lorem

        script#modal-settings-view(type='text/html')
            .modal
                .modal-header
                    span Edit
                    .btn-outer
                        button.btn.btn-cancel Cancel
                        button.btn-save.btn Save

                .modal-body
                    .modal-form
                        p Application Form

                        form.settings
                            .row
                                .col-md-6
                                    .form-group
                                        input#userName.form-control(type='text')
                                        label(for='userName') User Name
                                .col-md-6
                                    .form-group.birthday
                                        input#birthDate.form-control(type='date')
                                        label(for='birthDate') Birthdate
                            .row
                                .col-md-6
                                    .form-group
                                        input#email.form-control(type='email')
                                        label(for='email') Email
                                .col-md-6
                                    .form-group
                                        input#site.form-control(type='text')
                                        label(for='site') URL
                            .row
                                .col-md-6
                                    .form-group
                                        input#phone.form-control(type='text')
                                        label(for='phone') Phone number
                                .col-md-2
                                    .form-group
                                        input#skill.form-control(type='text')
                                        label(for='skill') Skill number
                                .col-md-2
                                    label.radio-inline
                                        input#male(type='radio', name='gender', value='male')
                                        span male
                                .col-md-2
                                    label.radio-inline
                                        input#female(type='radio', name='gender', value='female')
                                        span female

                            .row
                                .col-md-4
                                    .form-group
                                        input#password.form-control(type='password')
                                        label(for='password') Password
                                .col-md-4
                                    .form-group
                                        input#passwordRepeat.form-control(type='password')
                                        label(for='passwordRepeat') Repeat Password
                            .row
                                .col-md-12
                                    .form-group
                                        textarea#description.form-control(type='text')
                                        label(for='description') Enter a brief description of yourself and interests.

        #modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')


        +scripts()
